draft-code
.vscode
.DS_Store
__pycache__
results/.DS_Store
troubleshoot
results/archive
.Rhistory
bin/.ipynb_checkpoints/Figures-checkpoint.ipynb
results/.DS_Store
results/.DS_Store
results/.DS_Store
data/2d-splitmig/list-rfr-sampling
data/2d-splitmig/list-rfr
data/1d-2epoch/list-rfr-exclude
data/1d-2epoch/list-rfr-exclude-log
data/1d-2epoch/list-rfr-full
data/1d-2epoch/list-rfr-full-log
data/1d-2epoch/test-data-exclude
data/1d-2epoch/test-data-exclude-2
data/1d-2epoch/test-data-exclude-3
data/1d-2epoch/test-data-full
data/1d-2epoch/train-data-exclude
data/1d-2epoch/train-data-full
data/2d-splitmig/list-rfr-finer-Tm
data/2d-splitmig/list-rfr-finer-Tm-sampling-10x
data/2d-splitmig/list-rfr-fixed-m
data/2d-splitmig/list-rfr-vary-T
data/2d-splitmig/list-rfr-vary-T-10
data/2d-splitmig/list-rfr-vary-T-10-sampling
data/2d-splitmig/list-rfr-vary-T-100
data/2d-splitmig/list-rfr-vary-T-100-sampling
data/2d-splitmig/test-data
data/2d-splitmig/test-data-fixed-m
data/2d-splitmig/test-data-vary-T
data/2d-splitmig/test-data-vary-T-100
data/2d-splitmig/train-data
data/2d-splitmig/train-data-finer-Tm
data/2d-splitmig/train-data-fixed-m
data/2d-splitmig/train-data-vary-T
data/2d-splitmig/train-data-vary-T-10
data/2d-splitmig/train-data-vary-T-100
results/.DS_Store
results/1d-2epoch/1d-2epoch-20201201-184503.txt
results/1d-2epoch/1d-2epoch-20201201-185621.txt
results/1d-2epoch/1d-2epoch-20201201-190044.txt
results/1d-2epoch/connie_averagescores
results/1d-2epoch/nu_exclude_log.png
results/1d-2epoch/nu_exclude_log_2.png
results/1d-2epoch/nu_exclude_no_log.png
results/1d-2epoch/nu_full_log.png
results/1d-2epoch/nu_full_no_log.png
results/1d-2epoch/T_exclude_log.png
results/1d-2epoch/T_exclude_log_2.png
results/1d-2epoch/T_exclude_no_log.png
results/1d-2epoch/T_full_log.png
results/1d-2epoch/T_full_no_log.png
results/2d-splitmig/2d-splitmig-20201204-175330.txt
results/2d-splitmig/2d-splitmig-20201204-180038.txt
results/2d-splitmig/m-fixed-m.png
results/2d-splitmig/m-sampling.png
results/2d-splitmig/m.png
results/2d-splitmig/nu1-fixed-m.png
results/2d-splitmig/nu1-sampling.png
results/2d-splitmig/nu1.png
results/2d-splitmig/nu2-fixed-m.png
results/2d-splitmig/nu2-sampling.png
results/2d-splitmig/nu2.png
results/2d-splitmig/T-fixed-m.png
results/2d-splitmig/T-sampling.png
results/2d-splitmig/T.png
results/2d-splitmig/T_over_m.png
results/2d-splitmig/T_over_m_2.png
results/2d-splitmig/T_over_m_3.png
results/2d-splitmig/T_over_m_color_m_true.png
results/2d-splitmig/T_over_m_color_T_true.png
results/2d-splitmig/test/m-finer-Tm.png
results/2d-splitmig/test/m-vary-T-10-sampling.png
results/2d-splitmig/test/m-vary-T-10.png
results/2d-splitmig/test/m-vary-T-100-sampling-test-100.png
results/2d-splitmig/test/m-vary-T-100-sampling.png
results/2d-splitmig/test/m-vary-T-100.png
results/2d-splitmig/test/m-vary-T.png
results/2d-splitmig/test/nu1-finer-Tm.png
results/2d-splitmig/test/nu1-vary-T-10-sampling.png
results/2d-splitmig/test/nu1-vary-T-10.png
results/2d-splitmig/test/nu1-vary-T-100-sampling-test-100.png
results/2d-splitmig/test/nu1-vary-T-100-sampling.png
results/2d-splitmig/test/nu1-vary-T-100.png
results/2d-splitmig/test/nu1-vary-T.png
results/2d-splitmig/test/nu2-finer-Tm.png
results/2d-splitmig/test/nu2-vary-T-10-sampling.png
results/2d-splitmig/test/nu2-vary-T-10.png
results/2d-splitmig/test/nu2-vary-T-100-sampling-test-100.png
results/2d-splitmig/test/nu2-vary-T-100-sampling.png
results/2d-splitmig/test/nu2-vary-T-100.png
results/2d-splitmig/test/nu2-vary-T.png
results/2d-splitmig/test/T-finer-Tm.png
results/2d-splitmig/test/T-vary-T-10-sampling.png
results/2d-splitmig/test/T-vary-T-10.png
results/2d-splitmig/test/T-vary-T-100-sampling-test-100.png
results/2d-splitmig/test/T-vary-T-100-sampling.png
results/2d-splitmig/test/T-vary-T-100.png
results/2d-splitmig/test/T-vary-T.png
results/R2Scores-compilation-20201201.xlsx
data/1d-2epoch/list-rfr-exclude
data/1d-2epoch/list-rfr-exclude
data/1d-2epoch/list-rfr-exclude-log
data/1d-2epoch/list-rfr-full
data/1d-2epoch/list-rfr-full-log
data/1d-2epoch/test-data-exclude
data/1d-2epoch/test-data-exclude-2
data/1d-2epoch/test-data-exclude-3
data/1d-2epoch/test-data-full
data/1d-2epoch/train-data-exclude
data/1d-2epoch/train-data-full
data/2d-splitmig/test-data
data/2d-splitmig/train-data
results/.DS_Store
results/1d-2epoch/1d-2epoch-20201201-184503.txt
results/1d-2epoch/1d-2epoch-20201201-185621.txt
results/1d-2epoch/1d-2epoch-20201201-190044.txt
results/1d-2epoch/nu_exclude_log.png
results/1d-2epoch/nu_exclude_log_2.png
results/1d-2epoch/nu_exclude_no_log.png
results/1d-2epoch/nu_full_log.png
results/1d-2epoch/nu_full_no_log.png
results/1d-2epoch/T_exclude_log.png
results/1d-2epoch/T_exclude_log_2.png
results/1d-2epoch/T_exclude_no_log.png
results/1d-2epoch/T_full_log.png
results/1d-2epoch/T_full_no_log.png
results/2d-splitmig/2d-splitmig-20201204-175330.txt
results/2d-splitmig/2d-splitmig-20201204-180038.txt
results/2d-splitmig/m-sampling.png
results/2d-splitmig/m.png
results/2d-splitmig/nu1-sampling.png
results/2d-splitmig/nu1.png
results/2d-splitmig/nu2-sampling.png
results/2d-splitmig/nu2.png
results/2d-splitmig/T-sampling.png
results/2d-splitmig/T.png
results/R2Scores-compilation-20201201.xlsx
data/1d-2epoch/list-rfr-exclude
data/1d-2epoch/list-rfr-exclude-log
data/1d-2epoch/list-rfr-full
data/1d-2epoch/list-rfr-full-log
data/1d-2epoch/test-data-exclude
data/1d-2epoch/test-data-exclude-2
data/1d-2epoch/test-data-exclude-3
data/1d-2epoch/test-data-full
data/1d-2epoch/train-data-exclude
data/1d-2epoch/train-data-full
data/2d-splitmig/test-data
data/2d-splitmig/train-data
results/.DS_Store
results/1d-2epoch/1d-2epoch-20201201-184503.txt
results/1d-2epoch/1d-2epoch-20201201-185621.txt
results/1d-2epoch/1d-2epoch-20201201-190044.txt
results/1d-2epoch/nu_exclude_log.png
results/1d-2epoch/nu_exclude_log_2.png
results/1d-2epoch/nu_exclude_no_log.png
results/1d-2epoch/nu_full_log.png
results/1d-2epoch/nu_full_no_log.png
results/1d-2epoch/T_exclude_log.png
results/1d-2epoch/T_exclude_log_2.png
results/1d-2epoch/T_exclude_no_log.png
results/1d-2epoch/T_full_log.png
results/1d-2epoch/T_full_no_log.png
results/2d-splitmig/2d-splitmig-20201204-175330.txt
results/2d-splitmig/2d-splitmig-20201204-180038.txt
results/2d-splitmig/m-sampling.png
results/2d-splitmig/m.png
results/2d-splitmig/nu1-sampling.png
results/2d-splitmig/nu1.png
results/2d-splitmig/nu2-sampling.png
results/2d-splitmig/nu2.png
results/2d-splitmig/T-sampling.png
results/2d-splitmig/T.png
results/R2Scores-compilation-20201201.xlsx
data/1d-2epoch/list-rfr-exclude
data/1d-2epoch/list-rfr-exclude-log
data/1d-2epoch/list-rfr-full
data/1d-2epoch/list-rfr-full-log
data/1d-2epoch/test-data-exclude
data/1d-2epoch/test-data-exclude-2
data/1d-2epoch/test-data-exclude-3
data/1d-2epoch/test-data-full
data/1d-2epoch/train-data-exclude
data/1d-2epoch/train-data-full
data/2d-splitmig/test-data
data/2d-splitmig/train-data
results/.DS_Store
results/1d-2epoch/1d-2epoch-20201201-184503.txt
results/1d-2epoch/1d-2epoch-20201201-185621.txt
results/1d-2epoch/1d-2epoch-20201201-190044.txt
results/1d-2epoch/nu_exclude_log.png
results/1d-2epoch/nu_exclude_log_2.png
results/1d-2epoch/nu_exclude_no_log.png
results/1d-2epoch/nu_full_log.png
results/1d-2epoch/nu_full_no_log.png
results/1d-2epoch/T_exclude_log.png
results/1d-2epoch/T_exclude_log_2.png
results/1d-2epoch/T_exclude_no_log.png
results/1d-2epoch/T_full_log.png
results/1d-2epoch/T_full_no_log.png
results/2d-splitmig/2d-splitmig-20201204-175330.txt
results/2d-splitmig/2d-splitmig-20201204-180038.txt
results/2d-splitmig/m-sampling.png
results/2d-splitmig/m.png
results/2d-splitmig/nu1-sampling.png
results/2d-splitmig/nu1.png
results/2d-splitmig/nu2-sampling.png
results/2d-splitmig/nu2.png
results/2d-splitmig/T-sampling.png
results/2d-splitmig/T.png
results/R2Scores-compilation-20201201.xlsx
data/1d-2epoch/list-rfr-exclude
results/R2Scores-compilation-20201201.xlsx
results/2d-splitmig/T.png
results/2d-splitmig/T-sampling.png
results/2d-splitmig/nu2.png
results/2d-splitmig/nu2-sampling.png
results/2d-splitmig/nu1.png
results/2d-splitmig/nu1-sampling.png
results/2d-splitmig/m.png
results/2d-splitmig/m-sampling.png
results/2d-splitmig/2d-splitmig-20201204-180038.txt
results/2d-splitmig/2d-splitmig-20201204-175330.txt
results/1d-2epoch/T_full_no_log.png
results/1d-2epoch/T_full_log.png
results/1d-2epoch/T_exclude_no_log.png
results/1d-2epoch/T_exclude_log_2.png
results/1d-2epoch/T_exclude_log.png
results/1d-2epoch/nu_full_no_log.png
results/1d-2epoch/nu_full_log.png
results/1d-2epoch/nu_exclude_no_log.png
results/1d-2epoch/nu_exclude_log_2.png
results/1d-2epoch/nu_exclude_log.png
results/1d-2epoch/1d-2epoch-20201201-190044.txt
results/1d-2epoch/1d-2epoch-20201201-185621.txt
results/1d-2epoch/1d-2epoch-20201201-184503.txt
results/.DS_Store
data/2d-splitmig/train-data
data/2d-splitmig/test-data
data/1d-2epoch/train-data-full
data/1d-2epoch/train-data-exclude
data/1d-2epoch/test-data-full
data/1d-2epoch/test-data-exclude-3
data/1d-2epoch/test-data-exclude-2
data/1d-2epoch/test-data-exclude
data/1d-2epoch/list-rfr-full-log
data/1d-2epoch/list-rfr-full
data/1d-2epoch/list-rfr-exclude-log
data/1d-2epoch/list-rfr-exclude
data/2d-splitmig/test-data
data/2d-splitmig/train-data
data/2d-splitmig/test-data
data/2d-splitmig/list-rfr-v0.24-poisson
data/2d-splitmig/list-rfr-v0.24-poisson
data/2d-splitmig/list-rfr-vary-T-m
data/2d-splitmig/list-vrfr
*.png
*.xlsx
data/2d-splitmig/list-nn
ml_dadi/1d_2epoch/data/bootstrap_data
ml_dadi/1d_2epoch/data/list_mlpr_exclude_log_adam
ml_dadi/1d_2epoch/data/list_mlpr_exclude_log_lbfgs
ml_dadi/1d_2epoch/data/list_mlpr_full_log_adam
ml_dadi/1d_2epoch/data/list_mlpr_full_log_lbfgs
ml_dadi/1d_2epoch/data/list_rfr_exclude
ml_dadi/1d_2epoch/data/list_rfr_exclude_log
ml_dadi/1d_2epoch/data/list_rfr_full
ml_dadi/1d_2epoch/data/list_rfr_full_log
ml_dadi/1d_2epoch/data/test_data_exclude
ml_dadi/1d_2epoch/data/test_data_full
ml_dadi/1d_2epoch/data/train_data_exclude
ml_dadi/1d_2epoch/data/train_data_full
ml_dadi/1d_2epoch/results/bootstrap/boostrap_pred_mlpr_1000
ml_dadi/1d_2epoch/results/bootstrap/boostrap_pred_mlpr_10000
ml_dadi/1d_2epoch/results/bootstrap/boostrap_pred_rfr_1000
ml_dadi/2d_splitmig/data/bootstrap_data
ml_dadi/2d_splitmig/data/list_mlpr
ml_dadi/2d_splitmig/data/list_rfr
ml_dadi/2d_splitmig/data/test_data
ml_dadi/2d_splitmig/data/train_data
ml_dadi/2d_splitmig/results/bootstrap/boostrap_pred_rfr_1
ml_dadi/2d_splitmig/results/bootstrap/boostrap_pred_rfr_100
ml_dadi/2d_splitmig/results/bootstrap/boostrap_pred_rfr_1000
ml_dadi/2d_IM/data/train_data
ml_dadi/2d_IM/data/test_data
ml_dadi/2d_IM/data/list_rfr_hpc
ml_dadi/2d_IM/data/list_rfr
ml_dadi/2d_IM/data/list_mlpr_hpc
ml_dadi/2d_IM/data/list_mlpr
ml_dadi/2d_IM/data/train_data_test
ml_dadi/1d_2epoch/data/new_log/list_mlpr_exclude_log_adam
ml_dadi/1d_2epoch/data/new_log/list_mlpr_exclude_log_lbfgs
ml_dadi/1d_2epoch/data/new_log/list_rfr_exclude_log
ml_dadi/1d_2epoch/data/new_log/test_data_exclude_log
ml_dadi/1d_2epoch/data/new_log/train_data_exclude_log
ml_dadi/1d_2epoch/results/bootstrap/new_log/boostrap_pred_rfr_10000
ml_dadi/1d_2epoch/results/bootstrap/new_log/boostrap_pred_mlpr_1000
ml_dadi/1d_2epoch/data/test_data_msprime
ml_dadi/1d_2epoch/results/bootstrap/boostrap_pred_rfr_1
ml_dadi/1d_2epoch/results/bootstrap/boostrap_pred_mlpr_1
ml_dadi/1d_2epoch/data/new_func/list_mlpr_adam
ml_dadi/1d_2epoch/data/new_func/list_mlpr_lbfgs
ml_dadi/1d_2epoch/data/new_func/list_rfr
ml_dadi/1d_2epoch/data/new_func/test_data
ml_dadi/1d_2epoch/data/new_func/train_data
ml_dadi/2d_splitmig/data/new_func/test_data
ml_dadi/1d_2epoch/data/new_func/test_data_full
ml_dadi/1d_2epoch/data/msprime/5.0e+07_1.0e-10
ml_dadi/1d_2epoch/data/msprime/5.0e+07_1.0e-09
ml_dadi/1d_2epoch/data/msprime/5.0e+07_1.0e-08
ml_dadi/1d_2epoch/data/msprime/5.0e+06_1.0e-08
ml_dadi/1d_2epoch/data/msprime/1.0e+08_1.0e-08
ml_dadi/1d_2epoch/data/msprime/1.0e+07_1.0e-08
ml_dadi/1d_2epoch/data/msprime/5.0e+07_1.0e-11
ml_dadi/1d_2epoch/data/msprime/test_dem
ml_dadi/1d_2epoch/data/msprime/test_params
ml_dadi/2d_IM/data/connie/2d_im_nn_trained_on_1
ml_dadi/2d_IM/data/connie/2d_im_nn_trained_on_100
ml_dadi/2d_IM/data/connie/2d_im_nn_trained_on_1000
ml_dadi/2d_IM/data/connie/2d_im_nn_trained_on_10000
ml_dadi/2d_IM/data/connie/2d_im_test_set
ml_dadi/2d_IM/data/list_mlpr_random
ml_dadi/2d_IM/data/list_rfr_random
ml_dadi/2d_splitmig/data/msprime/1.0e+08_1.0e-08
ml_dadi/2d_splitmig/data/msprime/1.0e+08_1.0e-09
ml_dadi/2d_splitmig/data/msprime/1.0e+08_1.0e-10
ml_dadi/2d_splitmig/data/msprime/1.0e+08_1.0e-11
ml_dadi/2d_splitmig/data/msprime/test_params
ml_dadi/2d_splitmig/data/new_func/list_mlpr_random
ml_dadi/2d_splitmig/data/new_func/list_rfr_random
