draft-code
.vscode
.DS_Store
__pycache__
results/.DS_Store
troubleshoot
src/Anaconda3-2020.07-MacOSX-x86_64.sh
src/dadi/
results/archive
.Rhistory
bin/.ipynb_checkpoints/Figures-checkpoint.ipynb
results/.DS_Store
results/.DS_Store
results/.DS_Store
data/2d-splitmig/list-rfr-sampling
data/2d-splitmig/list-rfr
