.vscode
.DS_Store
__pycache__
troubleshoot
draft-code
.Rhistory
bin/.ipynb_checkpoints/*
results/*
data/*
*.png
*.xlsx
ml_dadi/*/data/*
ml_dadi/*/results/*
ml_dadi/*/.ipynb_checkpoints/
ml_dadi/1d_2epoch/test.ipynb
bin/msprime/simulation2.ipynb
archive
out